.header {
  padding-left: 25%;
  overflow: hidden;
  width: 75%;
  background-color: white;
  height: 50px;
  border: 1px solid #26a69a;
  display: flex;
  &_mail:hover {
    background: #abeee7;
  }
  &_mail {
    height: 100%;
    width: 50px;
  }
  &_user:hover {
    background: #abeee7;
  }
  &_user {
    display: flex;
    width: 150px;
    img {
      width: 3rem;
      height: 3rem;
    }
    span {
      a {
        text-decoration: none;
        color: #000;
        p {
          margin-top: 0.8rem;
        }
      }
    }
  }
  &_search:hover {
    background: #c8f3ef;
    border: 1px white;
  }
  &_search {
    display: flex;
    input {
      margin-top: 0.8rem;
      border: none;
      background: transparent;
    }
  }
  &_message:hover {
    background: #c8f3ef;
  }
  &_message {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 4rem;
  }
}
